// COLOR
$white: #ffffff;
$black: #000000;
$creamy: #faebd7;
$dark-grey: #383838;
$green: #8b9a46;
$orange: #f58840;
$light-grey: #adadad;

// TEXT
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  padding: 0;
  margin: 0;
}
